<h2 class='page-header'>Your Feed!</h2>

<%= render 'tweets/form', tweets_ul: '#feed' %>

<div class="infinite-tweets">

  <% if @feed_tweets.empty? %>
    <p>No tweets... yet! Follow someone!</p>
  <% else %>
    <ul class="tweets" id="feed">
    
    </ul>
  <% end %>
  
  <button class="fetch-more">Fetch more tweets!</button>
</div>
